<div id="myModal" class="modal fade" role="dialog" #dialog>
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>You want to redirect other page .</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="Allow()">Allow</button>
        <button type="button" class="btn btn-default" (click)="Cancel()">Cancel</button>
      </div>
    </div>

  </div>
</div>
